/*-----шрифты-----------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*-----переменные-----------------------------------------------*/

:root {
    --maxWidth: 1240px; /* 1200 + 40px */
    --maxWidthSecond: 1036px; /* 996 + 40px */
    --white: #ffffff;
    --lightGrey: rgba(255, 255, 255, 0.5);
    --darkGrey: rgba(0, 0, 0, 0.5);
    --black: #000000;
    --gradient: linear-gradient(90deg,rgba(20, 28, 48, 1) 0%, rgba(96, 125, 139, 1) 100%);
    --gradientBg: rgba(20, 28, 48, 1);
    --mainFont: "Poppins", sans-serif;
    --secondFont: "Golos Text", sans-serif;
}

/*----main-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    background-color: inherit;
    box-sizing: border-box;
    border: none;
    outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: 1px;
}
html, body {
    min-height: 100%;
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: var(--white);
    background-color: var(--black);
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
main {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
}
.__container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: var(--maxWidth);
}
button {
    cursor: pointer;
    transition: 0.5s;
}
button:hover {
    filter: brightness(120%);
}
button:active {
    filter: brightness(80%);
    transition: 0.2s;
}
.title {
    font-family: var(--secondFont);
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
::selection {
    color: var(--black);
    background-color: var(--white);
}

/*----hero---------------------------------*/

.hero {
    min-height: 900px;
    width: 100%;
    height: 100%;
    background: var(--gradient);
}
.hero__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.greeting__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greeting__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.greeting__text h1 {
    font-size: var(--secondFont);
    font-size: 70px;
    font-weight: 700;
}

.greeting__text h2 {
    color: var(--lightGrey);
}

.greeting__image {
    width: 50%;
}

/*----header---------------------------------*/

.header {
    position: relative;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    display: flex;
    padding: 20px 0 0 0;
}
.header:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--black);
    z-index: 2;
}
.header__container {
    width: 100%;
}
.header__body {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    position: relative;
    z-index: 3;
}
.header__burger {
    display: none;
}
.nav {
    display: flex;
    align-items: center;
    gap: 60px;
    transition: 0.5s ease 0s;
}
.nav__items {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav__link:hover {
    text-decoration: underline;
}
.nav__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid var(--white);
    transition: 0.5s;
}
.nav__btn:hover {
    background-color: var(--white);
    color: var(--gradientBg);
}

/*----services---------------------------------*/

.services {
    padding: 50px;
}
.services__container {
    max-width: var(--maxWidthSecond);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services__link__svg path {
    transition: fill 0.3s ease;
    fill: rgba(255, 255, 255, 0.3);
}
.services__link__svg:hover path {
    fill: white;
}

/*----about---------------------------------*/

.about {
    padding: 100px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background: var(--gradient);
}

.about hr {
    max-width: calc(var(--maxWidth) - 40px);
    width: 100%;
    height: 1px;
    background-color: var(--white);
}

/*----whoAmI---------------------------------*/

.whoAmI {
    width: 100%;
}
.whoAmI__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.whoAmI__image {
    width: 33%;
}
.whoAmI__text {
    width: 58%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.whoAmI__text h2 {
    font-family: var(--secondFont);
    font-size: 64px;
    font-weight: 700;
}
.whoAmI__text p {
    color: var(--lightGrey);
}

/*----help---------------------------------*/

.help {
    width: 100%;
}
.help__container {
    max-width: var(--maxWidth);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.help__text {
    max-width: 42%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    background: none;
}
.help__text p {
    color: var(--lightGrey);
}
.help__blocks {
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.help__block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border: 5px solid var(--white);
    border-radius: 40px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
.help__block__logo {
    width: 90px;
    height: 90px;
    min-height: 90px;
    min-width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--white);
    border-radius: 50%;
    background: transparent;
    transition: background 0.3s ease;
    object-fit: scale-down;
}
.help__block__text {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0);
}
.help__block__text h3,
.help__block__text h4 {
    transition: color 0.3s ease;
}

.help__block__text h3 {
    font-family: var(--secondFont);
    font-size: 30px;
    font-weight: 700;
    color: inherit;
}

.help__block:hover {
    background-color: var(--white);
}

.help__block:hover .help__block__logo {
    background: var(--gradient);
}

.help__block:hover h3 {
    color: var(--black);
}

.help__block:hover h4 {
    color: var(--darkGrey);
}

/*----littleMore---------------------------------*/

.littleMore {
    padding: 100px 0;
    width: 100%;
}
.littleMore__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.littleMore__blocks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.littleMore__block {
    position: relative;
    width: 100%;
    height: 270px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.littleMore__block:hover {
    transform: scale(1.1);
    z-index: 9;
}

.littleMore__block--first {
    background-image: url('../public/images/photo/oim.jpg');
}
.littleMore__block--second {
    background-image: url('../public/images/photo/kdww.jpg');
}
.littleMore__block--third {
    background-image: url('../public/images/photo/forum.jpg');
}
.littleMore__block__blackout {
    padding: 0 0 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    background: none;
}
.littleMore__block__blackout h3 {
    width: 100%;
    text-align: center;
    font-family: var(--secondFont);
    font-size: 16px;
    font-weight: 700;
}

/*----tools---------------------------------*/

.tools {
    width: 100%;
    padding: 0 0 100px 0;
}
.tools__container {
    max-width: var(--maxWidth);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.tools__blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 90px;
}
.tools__blocks img {
    width: 87px;
    height: 87px;
    object-fit: contain;
    display: block;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
.tools__blocks img:hover {
    filter: grayscale(0%);
}

/*----portfolio---------------------------------*/

.portfolio {
    padding: 100px 0;
    width: 100%;
    background: var(--gradient);
}
.portfolio__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.portfolio__blocks {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.portfolio__block {
    padding: 20px;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    background-color: var(--black);
    border-radius: 40px;
}
.portfolio__block__image {
    width: 100%;
    border-radius: 20px;
    margin: 0 0 10px 0;
}
.portfolio__block__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.portfolio__block__header h4 {
    font-family: var(--secondFont);
    font-size: 24px;
    font-weight: 700;
}
.portfolio__block p {
    color: var(--lightGrey);
}

/*----footer---------------------------------*/

.footer {
    width: 100%;
    padding: 100px 0;
}
.footer__container {
    max-width: var(--maxWidthSecond);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.footer__text h2 {
    text-wrap: wrap;
}
.footer__socials {
    display: flex;
    align-items: center;
    gap: 40px;
}
.footer__image {
    width: 286px;
    height: 286px;
}
.footer__social__svg path {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.footer__social__svg:hover path {
    filter: grayscale(0%);
}

/*----media---------------------------------*/

@media (max-width: 1220px) {

    /*----hero---------------------------------*/

    .greeting__container {
        flex-direction: column;
        gap: 60px;
    }
    .greeting__text {
        align-items: center;
        gap: 10px;
        text-align: center;
    }

    /*----help---------------------------------*/

    .help__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .help__text {
        max-width: 100%;
        align-items: center;
        gap: 40px;
        text-align: center;
    }
    .help__blocks {
        max-width: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .help__block {
        width: fit-content;
        justify-content: center;
        gap: 40px;
        padding: 20px;
    }
}

@media (max-width: 1024px) {

    /*----hero---------------------------------*/

    .hero {
        min-height: 0;
    }

    /*----services---------------------------------*/

    .services {
        padding: 40px;
    }
    .services__container {
        flex-direction: column;
        gap: 40px;
    }

    /*----header---------------------------------*/

    .header__burger {
        display: block;
        position: relative;
        width: 50px;
        height: 30px;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: 0.5s;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: 0.5s;
    }
    .header__burger:before {
        top: -5px;
    }
    .header__burger:after {
        bottom: 5px;
    }
    .nav {
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--black);
        padding: 100px 0 0 0;
        overflow: auto;
    }
    .nav.active {
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }
    .nav__items {
        flex-direction: column;
    }
    .nav__item {
        font-size: 24px;
    }

    /*----about---------------------------------*/

    .about {
        padding: 60px 0;
        gap: 60px;
    }

    /*----whoAmI---------------------------------*/

    .whoAmI__container {
        flex-direction: column-reverse;
        text-align: center;
        gap: 40px;
    }
    .whoAmI__image {
        width: 50%;
    }
    .whoAmI__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .whoAmI__text h2 {
        font-family: var(--secondFont);
        font-size: 64px;
        font-weight: 700;
    }

    /*----help---------------------------------*/

    .help__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .help__text {
        max-width: 100%;
        align-items: center;
        gap: 40px;
        text-align: center;
    }
    .help__blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    /*----littleMore---------------------------------*/

    .littleMore {
        padding: 60px 0;
    }
    .littleMore__container {
        gap: 40px;
    }

    /*----tools---------------------------------*/

    .tools {
        padding: 0 0 60px 0;
    }
    .tools__container {
        gap: 40px;
    }

    /*----portfolio---------------------------------*/

    .portfolio {
        padding: 60px 0;
    }
    .portfolio__container {
        gap: 40px;
    }
    .portfolio__blocks {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .portfolio__block {
        max-width: 45%;
    }

    /*----footer---------------------------------*/

    .footer {
        padding: 40px 0;
    }
    .footer__container {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .footer__text {
        gap: 20px;
    }
}

@media (max-width: 768px) {

    .title {
        font-size: 44px;
    }

    /*----hero---------------------------------*/

    .greeting__text h1 {
        font-size: 52px;
        font-weight: 700;
    }
    .greeting__image {
        width: 80%;
    }

    /*----whoAmI---------------------------------*/

    .whoAmI__text h2 {
        font-size: 44px;
    }
    .whoAmI__image {
        width: 60%;
    }
    .help__block {
        padding: 10px 20px;
        border: 2px solid var(--white);
    }
    .help__block__logo {
        width: 70px;
        height: 70px;
        min-height: 70px;
        min-width: 70px;
        border: 2px solid var(--white);
    }
    .help__block__logo svg {
        height: 40px;
        width: 40px;
    }
    .help__block__text h3 {
        font-size: 24px;
        font-weight: 500;
    }
    .help__block__text h4 {
        font-size: 18px;
        font-weight: 400;
    }

    /*----littleMore---------------------------------*/

    .littleMore__blocks {
        flex-direction: column;
        gap: 20px;
    }
    .littleMore__block {
        position: relative;
        height: 360px;
        background-size: contain;
    }

    /*----tools---------------------------------*/

    .tools__blocks {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px 40px;
    }
    .tools__blocks img {
        width: 66px;
        height: 66px;
    }

    /*----footer---------------------------------*/

    .footer__socials {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px 40px;
    }
    .footer__image {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 600px) {

    /*----help---------------------------------*/

    .help__blocks {
        max-width: 100%;
    }
    .help__block {
        width: 100%;
    }
    .help__block__text {
        width: auto;
    }

    /*----littleMore---------------------------------*/

    .littleMore__container {
        padding: 0;
    }
    .littleMore__container h2 {
        padding: 0 20px ;
    }
    .littleMore__blocks {
        flex-direction: column;
        gap: 20px;
    }
    .littleMore__block {
        position: relative;
        background-size: cover;
    }
    .littleMore__block h3 {
        position: relative;
        padding: 0 10px;
        background-size: cover;
    }

    /*----portfolio---------------------------------*/

    .portfolio__block {
        max-width: 100%;
    }
}

@media (max-width: 480px) {

    .title {
        font-size: 28px;
    }

    /*----hero---------------------------------*/

    .greeting__text h1 {
        font-size: 36px;
        font-weight: 700;
    }
    .greeting__image {
        width: 100%;
    }

    /*----whoAmI---------------------------------*/

    .whoAmI__text h2 {
        font-size: 28px;
    }
    .whoAmI__image {
        width: 100%;
    }
    .help__block {
        gap: 20px;
    }
    .help__block__text {
        gap: 5px;
    }
    .help__block__text h3 {
        font-size: 18px;
    }
    .help__block__text h4 {
        font-size: 14px;
    }
}